body {
    background-color: lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}


h1 {
font-size: 50px
}
h1 {
    text-align: center;
    background-color: white;

}
body {
    margin: 40px;
}

img {
    display: block;
    margin: 0 auto;
}

body {
    font-size: 20px;
}
h2 {
    font-size: 35px;
    text-align: center;
    background-color: black;
    color: white

}

footer {
background-color: white;
color:black
}
footer {
    font-size: 15px;
}